n8n/interfuerza-devotio-workflow.json
{
  "name": "InterFuerza × Devotio Rewards — Cashback Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/2 * * * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Cada 2 Minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/sync_state?key=eq.last_processed_at",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-get-last-sync",
      "name": "Leer Last Processed At",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer la fecha de last_processed_at y calcular rango\n// InterFuerza espera formato YYYY-MM-DD\nconst lastSyncRaw = $input.first().json[0]?.value || new Date(Date.now() - 5 * 60 * 1000).toISOString();\nconst lastDate = new Date(lastSyncRaw);\nconst now = new Date();\n\nconst fromDate = lastDate.toISOString().split('T')[0];\nconst toDate = now.toISOString().split('T')[0];\n\nreturn [{ json: { fromDate, toDate, lastSyncISO: lastDate.toISOString() } }];"
      },
      "id": "node-calc-dates",
      "name": "Calcular Rango de Fechas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.interfuerza.com/api/v4/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ifx-token",
              "value": "={{ $vars.INTERFUERZA_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ class: 'GET', action: 'invoices', page: '1', timestamp: { from: $json.fromDate, to: $json.toDate } }) }}",
        "options": {}
      },
      "id": "node-get-invoices",
      "name": "Obtener Facturas InterFuerza",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// InterFuerza v4 devuelve { data: [...] } — normalizar\nconst raw = $input.first().json;\nconst invoices = raw.data || raw.invoices || raw.result || [];\n\nif (!Array.isArray(invoices) || invoices.length === 0) {\n  return [];\n}\n\nreturn invoices.map(inv => ({ json: inv }));"
      },
      "id": "node-normalize",
      "name": "Normalizar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ]
        }
      },
      "id": "node-if-invoices",
      "name": "¿Hay Facturas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/transactions?select=invoice_id&created_at=gte.{{ new Date(Date.now() - 24*60*60*1000).toISOString() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-get-processed",
      "name": "IDs Ya Procesados (Dedup)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filtrar facturas que ya están en Supabase\nconst processedIds = new Set(\n  $('IDs Ya Procesados (Dedup)').all().flatMap(i => \n    Array.isArray(i.json) ? i.json.map(r => String(r.invoice_id)) : []\n  )\n);\n\nconst allInvoices = $('¿Hay Facturas?').all();\n\nconst newInvoices = allInvoices.filter(item => {\n  const id = String(item.json.id || item.json.Id || '');\n  return id && !processedIds.has(id);\n});\n\nreturn newInvoices.length > 0 ? newInvoices : [];"
      },
      "id": "node-filter-dupes",
      "name": "Filtrar Duplicados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extraer teléfono o email del item actual\nconst inv = $input.first().json;\nconst phone = String(inv.Telefono_1 || inv.telefono_1 || inv.Telefono || inv.telefono || '').trim();\nconst email = String(inv.Email || inv.email || '').trim();\nconst query = phone || email;\n\nreturn [{ json: { ...inv, _searchQuery: query, _phone: phone, _email: email, _searchField: phone ? 'Telefono_1' : 'Email' } }];"
      },
      "id": "node-extract-contact",
      "name": "Extraer Contacto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.DEVOTIO_API_URL }}/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "=$vars.DEVOTIO_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json._customerPhone }}"
            }
          ]
        }
      },
      "id": "node-search-devotio",
      "name": "Buscar Cliente en Devotio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $vars.DEVOTIO_API_URL }}/cards",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "=$vars.DEVOTIO_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "customerId",
              "value": "={{ $json.data[0].id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-get-card",
      "name": "Obtener Tarjeta del Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2330,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "devotio-found",
              "leftValue": "={{ $json.customer?.id || $json.id || $json.data?.id || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ]
        }
      },
      "id": "node-if-customer",
      "name": "¿Cliente en Devotio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2440,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calcular cashback y preparar datos\nconst inv = $('Extraer Contacto').item.json;\nconst devotioResp = $('Buscar Cliente en Devotio').item.json;\nconst devotioCustomer = devotioResp.customer || devotioResp.data || devotioResp;\n\nconst amount = parseFloat(inv.Total || inv.total || inv.Monto || inv.monto || 0);\nconst pct = parseFloat($vars.CASHBACK_PERCENTAGE || '5');\nconst cashbackAmount = parseFloat((amount * pct / 100).toFixed(2));\n\nconst invoiceId = String(inv.id || inv.Id || '');\nconst branch = inv.Bodega || inv.bodega || inv.Sucursal || '';\nconst txDate = inv.Date || inv.date || inv.Fecha || new Date().toISOString();\nconst customerName = inv.Cliente || inv.cliente || inv.Nombre || '';\n\nreturn [{ json: {\n  invoiceId,\n  amount,\n  cashbackAmount,\n  cashbackPct: pct,\n  branch,\n  txDate,\n  customerName,\n  customerPhone: inv._phone,\n  customerEmail: inv._email,\n  devotioCustomerId: String(devotioCustomer.id || ''),\n  devotioCustomerName: devotioCustomer.name || devotioCustomer.nombre || ''\n} }];"
      },
      "id": "node-calc-cashback",
      "name": "Calcular Cashback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DEVOTIO_API_URL }}/cards/{{ $('Obtener Tarjeta del Cliente').item.json.data[0].id }}/add-point",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "=$vars.DEVOTIO_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ points: $json.cashbackAmount, purchaseSum: $json.cashbackAmount, comment: 'Factura #' + $json.invoiceId }) }}",
        "options": {}
      },
      "id": "node-register-cashback",
      "name": "Registrar Cashback en Devotio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/transactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ invoice_id: $('Calcular Cashback').item.json.invoiceId, customer_name: $('Calcular Cashback').item.json.customerName, customer_phone: $('Calcular Cashback').item.json.customerPhone, customer_email: $('Calcular Cashback').item.json.customerEmail, amount: $('Calcular Cashback').item.json.amount, cashback_amount: $('Calcular Cashback').item.json.cashbackAmount, cashback_pct: $('Calcular Cashback').item.json.cashbackPct, branch: $('Calcular Cashback').item.json.branch, transaction_date: $('Calcular Cashback').item.json.txDate, status: 'processed', devotio_customer_id: $('Calcular Cashback').item.json.devotioCustomerId, devotio_transaction_id: $json.transaction_id || $json.id || null }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-insert-processed",
      "name": "Guardar Procesado en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar insert de transacción pendiente (sin match en Devotio)\nconst inv = $('Extraer Contacto').item.json;\nconst amount = parseFloat(inv.Total || inv.total || inv.Monto || 0);\n\nreturn [{ json: {\n  invoice_id: String(inv.id || inv.Id || ''),\n  customer_name: inv.Cliente || inv.cliente || null,\n  customer_phone: inv._phone || null,\n  customer_email: inv._email || null,\n  amount,\n  branch: inv.Bodega || inv.bodega || null,\n  transaction_date: inv.Date || inv.date || new Date().toISOString(),\n  status: 'pending'\n} }];"
      },
      "id": "node-prep-pending",
      "name": "Preparar Pendiente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/transactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-insert-pending",
      "name": "Guardar Pendiente en Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        340
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/sync_state?key=eq.last_processed_at",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $vars.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ value: new Date().toISOString(), updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "node-update-sync",
      "name": "Actualizar last_processed_at",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        220
      ]
    }
  ],
  "connections": {
    "Cada 2 Minutos": {
      "main": [
        [
          {
            "node": "Leer Last Processed At",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Last Processed At": {
      "main": [
        [
          {
            "node": "Calcular Rango de Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Rango de Fechas": {
      "main": [
        [
          {
            "node": "Obtener Facturas InterFuerza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Facturas InterFuerza": {
      "main": [
        [
          {
            "node": "Normalizar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Respuesta": {
      "main": [
        [
          {
            "node": "¿Hay Facturas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Facturas?": {
      "main": [
        [
          {
            "node": "IDs Ya Procesados (Dedup)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "IDs Ya Procesados (Dedup)": {
      "main": [
        [
          {
            "node": "Filtrar Duplicados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Duplicados": {
      "main": [
        [
          {
            "node": "Extraer Contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Contacto": {
      "main": [
        [
          {
            "node": "Buscar Cliente en Devotio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cliente en Devotio": {
      "main": [
        [
          {
            "node": "Obtener Tarjeta del Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cliente en Devotio?": {
      "main": [
        [
          {
            "node": "Calcular Cashback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Cashback": {
      "main": [
        [
          {
            "node": "Registrar Cashback en Devotio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Cashback en Devotio": {
      "main": [
        [
          {
            "node": "Guardar Procesado en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Procesado en Supabase": {
      "main": [
        [
          {
            "node": "Actualizar last_processed_at",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Pendiente": {
      "main": [
        [
          {
            "node": "Guardar Pendiente en Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Pendiente en Supabase": {
      "main": [
        [
          {
            "node": "Actualizar last_processed_at",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Tarjeta del Cliente": {
      "main": [
        [
          {
            "node": "¿Cliente en Devotio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "instanceId": "interfuerza-devotio-v2"
  },
  "pinData": {},
  "versionId": "2",
  "triggerCount": 1,
  "tags": [
    {
      "id": "tag-devotio",
      "name": "devotio-rewards"
    },
    {
      "id": "tag-interfuerza",
      "name": "interfuerza"
    }
  ]
}